*{

margin:0;
padding:0;
box-sizing:border-box;
font-family:"Segoe UI",sans-serif;

}


body{

background:#eef5ff;
color:#10285f;

}



.app{

display:flex;
min-height:100vh;

}





/* SIDEBAR */


.sidebar{

width:300px;
background:#08245f;
color:white;
padding:40px 30px;

}


.sidebar h1{

font-size:38px;

}


.tagline{

margin-top:10px;
opacity:.8;

}


nav{

margin-top:50px;

}


nav a{

display:block;
text-decoration:none;
color:white;
padding:16px;
margin-bottom:15px;
border-radius:12px;
font-size:17px;

}



nav a:hover,
.active{

background:#1d4ed8;

}





/* MAIN */


.main{

flex:1;
padding:45px;

}



header h2{

font-size:34px;

}


header p{

color:#64748b;
margin-top:8px;

}





/* CARDS */


.card{

background:white;
border-radius:20px;
padding:28px;
margin-top:25px;
box-shadow:0 10px 25px rgba(0,0,0,.08);

}



.card h3{

margin-bottom:20px;

}





/* PROFILE */


.profile{

display:flex;
align-items:center;
gap:25px;

}


.avatar{

width:75px;
height:75px;
border-radius:50%;
background:#dbeafe;
display:flex;
align-items:center;
justify-content:center;
font-size:35px;

}


.profile button{

margin-left:auto;
padding:12px 22px;
border:none;
border-radius:12px;
background:#2563eb;
color:white;
cursor:pointer;

}





/* SETTINGS ROW */


.setting-item{

display:flex;
align-items:center;
justify-content:space-between;
padding:18px 0;
border-bottom:1px solid #e5e7eb;

}


.setting-item:last-child{

border:none;

}


.setting-item p{

color:#64748b;
margin-top:5px;
font-size:14px;

}



.setting-item span{

font-size:28px;
color:#2563eb;

}





/* SWITCH */


.switch{

position:relative;
width:50px;
height:26px;

}


.switch input{

display:none;

}


.switch span{

position:absolute;
background:#cbd5e1;
width:50px;
height:26px;
border-radius:30px;
cursor:pointer;

}



.switch span:before{

content:"";
position:absolute;
width:20px;
height:20px;
background:white;
border-radius:50%;
left:3px;
top:3px;
transition:.3s;

}


.switch input:checked + span{

background:#2563eb;

}


.switch input:checked + span:before{

transform:translateX(24px);

}




.logout{

color:#dc2626;
cursor:pointer;

}




@media(max-width:900px){


.app{

flex-direction:column;

}


.sidebar{

width:100%;

}


.main{

padding:20px;

}


}